.header {
  background-color: rgb(252, 193, 204);
}

.titulo-proyecto {
  font-size: 200%;
}

.dark-mode {
  background-color: #2d3748; 
  color: #f0f8ff; 
}

.dark-mode .product-card {
  background-color: #2d3748; 
  color: white;
}

.dark-mode .stats-card {
  background-color: #1a202c; 
  color: #f0f8ff; 
}

.dark-mode .title-font,
.dark-mode .texto-productos,
.dark-mode .texto-precios { 
    color: white
}

.dark-mode .fondo-producto,
.dark-mode .fondo-detailed-stats {
    background-color: #2d3748
}

.dark-mode .fondo-h1-stats,
.dark-mode .fondo-stats {
    background-color: #1a202c;
}

.dark-mode .texto-detailed-stats {
    color: white;
}

